@import 'tailwindcss';
@import "primeicons/primeicons.css";
@plugin "daisyui";
@theme {
  --font-ultra: "Ultra", sans-serif;
  --font-pacifico: "Pacifico", sans-serif;
  --font-corben: "Corben", sans-serif;
}
.custom-dark {
  color: white;
  position: relative;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 4px;
}

.rgbBlock {
  position: relative;

}

.rgbBlock:before,
.rgbBlock:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -5;
}
.rgbBlock:hover:before,
.rgbBlock:hover:after {
  background: linear-gradient(
    45deg,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000
  );
  background-size: 400%;
  border-radius: 8px;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.rgbBlock:after {
  filter: blur(50px);
}

.button {
  padding: 0.1em 0.25em;
  font-family: corben, sans-serif;
  width: 13em;
  height: 4.2em;
  background-color: #212121;
  border: 0.08em solid #fff;
  border-radius: 0.3em;
  font-size: 9px;
  cursor: pointer;
}

.button span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0.4em;
  width: 8.25em;
  height: 2.5em;
  background-color: #212121;
  border-radius: 0.2em;
  font-size: 1.5em;
  color: #fff;
  border: 0.08em solid #fff;
  box-shadow: 0 0.4em 0.1em 0.019em #fff;
}

.button span:hover {
  transition: all 0.5s;
  transform: translate(0, 0.4em);
  box-shadow: 0 0 0 0 #fff;
}

.button span:not(hover) {
  transition: all 1s;
}
